<body>
  <% if (flash) { %>
    <p>
      <%= flash %>
    </p>
    <% } %>
      <div class="container" style="margin-top: 100px !important;">
        <div class="row d-flex justify-content-center mt-5">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card py-3 px-2 p-3">
              <p class="text-center mb-3 mt-4">Welcome to Mailtowallet</p>
              <div class="m-5 text-center">
                <img style="width: 150px;" src="/mailtowallet-logo.png" alt="">
              </div>
              <div class="row">
                <div class="col-md-12 col-12">
                  <div class="form-group form-check"> <input type="checkbox" class="form-check-input"
                      id="exampleCheck1"> <label class="form-check-label" for="exampleCheck1">I have read and Agree to
                      the Terms of use and the Privacy Policy</label>
                  </div>
                </div>
              </div>
              <div class="form-group mt-1">
                <div class="text-center" id='loading'>
                  <div class="spinner-border text-primary"></div>
                </div>
                <div class="flex-col space-y-2 justify-center items-center text-center">
                  <p id="error"
                    style="color: #fa3939; font-size: 15px; max-width: 300px; margin: auto; margin-bottom: 20px;">

                  </p>
                  <!-- <button id='loginButton' onclick="" class="login login-submit mt-3">
                    Connect your wallet
                  </button>
                  <button id='sigInButton' onclick="" class="login login-submit mt-3">
                    SigIn with mail to wallet
                  </button> -->
                  <!-- <p id='userWallet' class='text-lg text-gray-600 my-2'></p> -->
                </div>
                <button id='loginButton' onclick="" type="button" class="btn btn-block btn-primary btn-lg">
                  <small>
                    <i style="vertical-align: baseline;" class="fa-solid fa-wallet pr-2"></i> Connect your wallet
                  </small>
                </button>
                <button id='sigInButton' onclick="" type="button" class="btn btn-block btn-primary btn-lg">
                  <small>
                    <i style="vertical-align: baseline;" class="fa-solid fa-signature pr-2"></i> SigIn with mail to
                    wallet
                  </small>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        const generateMessage = async data => {
          try {
            const response = await axios.post(`https://v900e2c4ig.execute-api.us-east-1.amazonaws.com/dev/createAddress`, data);
            const newTodoItem = response.data;
            console.log(`Added a new Todo!`, newTodoItem);
            return newTodoItem;
          } catch (errors) {
            console.error(errors);
          }
        };
        const verifySignedMessage = async data => {
          try {
            const response = await axios.post(`https://v900e2c4ig.execute-api.us-east-1.amazonaws.com/dev/verifySignedMessage`, data);
            const newTodoItem = response.data;
            console.log(`Added a new Todo!`, newTodoItem);
            return newTodoItem;
          } catch (errors) {
            console.error(errors);
          }
        };
        if (typeof window.ethereum !== 'undefined') {
          console.log('MetaMask is installed!');
        }
        window.userWalletAddress = null
        const loginButton = document.getElementById('loginButton')
        const errorSection = document.getElementById('error')
        const sigInButton = document.getElementById('sigInButton')
        const loading = document.getElementById('loading')
        const userWallet = document.getElementById('userWallet')

        /**
     * sends a request to the specified url from a form. this will change the window location.
     * @param {string} path the path to send the post request to
     * @param {object} params the parameters to add to the url
     * @param {string} [method=post] the method to use on the form
     */

        function post(path, params, method = 'post') {

          // The rest of this code assumes you are not using a library.
          // It can be made less verbose if you use one.
          const form = document.createElement('form');
          form.method = method;
          form.action = path;

          for (const key in params) {
            if (params.hasOwnProperty(key)) {
              const hiddenField = document.createElement('input');
              hiddenField.type = 'hidden';
              hiddenField.name = key;
              hiddenField.value = params[key];

              form.appendChild(hiddenField);
            }
          }

          document.body.appendChild(form);
          form.submit();
        }

        function toggleButton() {
          if (!window.ethereum) {
            loginButton.innerText = 'MetaMask is not installed'
            loginButton.classList.remove('bg-purple-500', 'text-white')
            loginButton.classList.add('bg-gray-500', 'text-gray-100', 'cursor-not-allowed')
            return false
          }

          loginButton.addEventListener('click', ConnectWithMetaMask)
        }

        async function ConnectWithMetaMask() {
          loginButton.style.display = 'none';
          loading.style.display = 'block';
          errorSection.innerHTML = '';
          const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
            .catch((e) => {
              errorSection.innerText = e.message;
              console.error(e.message)
              return
            })
          if (!accounts) {
            loginButton.style.display = 'inline';
            loading.style.display = 'none';
            return
          }

          window.userWalletAddress = accounts[0]
          sigInButton.addEventListener('click', loginWithMetaMask)
          loading.style.display = 'none';
          sigInButton.style.display = 'inline';
        }
        async function loginWithMetaMask() {
          sigInButton.style.display = 'none';
          loading.style.display = 'block';
          errorSection.innerHTML = '';
          window.ethereum.request({ method: 'eth_getBalance', params: [window.userWalletAddress, 'latest'] })
            .then(balance => {
              console.log('balance', balance)
              // setUserBalance(ethers.utils.formatEther(balance));
            })
            .catch(error => {
              errorSection.innerText = error.message;
              setErrorMessage(error.message);
            });
          generateMessage({ address: window.userWalletAddress, interactionId: '<%= uid %>' }).then(data => {
            console.log(data.messageToSign)
            window.ethereum.request({ method: 'personal_sign', params: [window.userWalletAddress, data.messageToSign] })
              .then(sign => {
                post("/interaction/<%= uid %>/login", {
                  email: 'achraf',
                  password: '123456',
                  address: window.userWalletAddress,
                  interactionId: '<%= uid %>',
                  signedMessage: sign,
                  nounce: data.messageToSign.split(': ')[1]
                });
              })
              .catch(error => {
                sigInButton.style.display = 'inline';
                loading.style.display = 'none';
                errorSection.innerText = error.message;
                setErrorMessage(error.message);
              });
          });
          loginButton.removeEventListener('click', loginWithMetaMask)
          setTimeout(() => {
            loginButton.addEventListener('click', signOutOfMetaMask)
          }, 200)
        }

        function signOutOfMetaMask() {
          window.userWalletAddress = null
          userWallet.innerText = ''
          loginButton.innerText = 'Sign in with MetaMask'

          loginButton.removeEventListener('click', signOutOfMetaMask)
          setTimeout(() => {
            sigInButton.addEventListener('click', loginWithMetaMask)
          }, 200)
        }

        window.addEventListener('DOMContentLoaded', () => {
          toggleButton()
        });
      </script>
</body>

</html>